{% extends "base.html" %}

{% block head_title %} {{ ad.name }} {% endblock %}

{% block main_title %} {{ ad.name }} {% endblock %}

{% block main_body %}
    <p>{{ ad.description }}</p>
    <div>
        <img src="{{ ad.image.url }}" alt="{{ ad.name }}" title="{{ ad.name }}" width="600">
    </div>
    <p>
        <strong>Price: {{ ad.price|floatformat:2 }}</strong>
        <br>
        <strong>Status: {{ ad.get_status_display }}</strong>
        <br>
        <strong>Pub date: {{ ad.pub_date|date:"d/m/Y H:i" }}</strong>
        <br>
        <strong>Owner: {{ ad.owner.first_name }} {{ ad.owner.last_name }}</strong>
    </p>
{% endblock %}